.brands__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 206px;
    background-color: black;
    padding: 44px 0 44px 0;


    img{
        transition: 0.3s;

        &:hover{
            scale: 1.3;
        }
    }
}